body {
   margin: 0;
   padding: 0;
   cursor: default;
   font-family: 'Abel', sans-serif;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

name {
   display: block;
   color: black;
   text-shadow: 1px 1px 1px #000000;
   font-size: 26px;
   padding-top: 10px;
   padding-bottom: 10px;
}

desc {
   display: block;
   color: #404040;
   font-family: 'PT Sans', sans-serif;
   font-size: 20px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 30px;
}

p {
   color: #333333;
   cursor: default;
}

div {
   color: black;
   color: #333333;
}

a { 
   color:black;
}


.backdrop {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: -webkit-radial-gradient(center, ellipse cover, #F5F5F5 0%, #E0E0E0 100%);
   overflow: auto;
}

smalldisplay {
   display: none;
   background:transparent;
}

largedisplay {
   background:transparent;
   display: inline;
}


/*@media only screen and (max-width: 600px) {*/
@media only screen and (max-width: 950px) {
   largedisplay {
      display: none;
   }
   smalldisplay {
      display: block;
   }
}

linkz {
   display: block;
   position: relative;
   text-align: left;
   min-height: 80px;
   
   width: 60%;
   
}

linkz icon {
   display: block;
   position: absolute;
   left: 0;
   top: 0;
}

linkz icon a i {
   /*font-size: 20px;*/
   color: silver;
   padding-left: 8px;
   padding-right: 8px;
}
linkz icon a i:hover {
   color:purple;
}

linkz linkinfo {
   display: block;
   position: relative;
   left: 80px;
   right: 0; 
}

linkz linkinfo title {
   display: block;
   position: relative;
   font-family: 'Roboto', sans-serif;
   font-size: 22px;
}

linkz linkinfo desc {
   display: block; 
   position: relative; 
   font-family: 'Abel', sans-serif;
   font-size: 22px;
   color: black;
   padding:0;
}

