@media only screen and (max-height: 500px) {
      .backdrop{
            padding-top: 150px;
      }

      .center_vert {
            margin: 0;
            /* margin-top: 50px; */
            padding-top: 180px;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            /* background-color: blue; */

      }

}

@media only screen and (min-width: 766px) {
      smalldisplay {
            display: none;
      }

      .center_vert {
            margin: 0;
            /* padding-top: 80px; */
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

      }

}

@media only screen and (max-width: 767px) {
      largedisplay {
            display: none;
      }

      linkz icon a i {
            font-size: 40px;
      }

      linkz linkinfo .linkinfo_title {
            font-size: 25px;
      }

      linkz linkinfo desc {
            font-size: 18px;
      }
}