.timeline_head {
      cursor: default;
      position: fixed;
      margin: 0;
      padding: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 50px;
      /* background-color: rgb(231, 220, 220); */
      /* background-color: transparent !important; */
      /* background-color: blue !important; */
      background: -webkit-radial-gradient(center, ellipse cover, rgb(75, 75, 75) 0%, rgb(41, 41, 41) 100%);
      
      
      border: 1px solid rgb(0, 0, 0);

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

}


.timeline_head #timeline_menu {
      position: absolute;
      margin: 0;
      padding-left: 3px;
      top: 0;
      left: 0;      
      bottom: 30px;
      font-size: 25px;
      text-shadow: 1px 1px #6d6d6d;    
      color: rgb(255, 255, 255);  
      
}

.timeline_head #timeline_menu i:hover {
      
      color: rgb(179, 170, 204);
      text-shadow: 1px 1px #000000;
  
}



.timeline_head #timeline_info {
      position: absolute;
      margin: 0;
      padding: 0;

      padding-left: 5px;
      top: 0;
      right: 0;
      left: 100px;
      bottom: 30px !important;
      font-family: 'Abel', sans-serif;

      font-size: 25px;
 
      background-color: transparent;
      color:rgb(69, 253, 23);
}