#timeline_overlay{
      display:none;
      /* display:block; */
      color:rgb(177, 235, 143);
      position: fixed;
      margin: 0;
      padding: 0;
      top: 30px;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 500;

      border: 1px solid rgb(0, 0, 0);
      /* background-color: rgb(61, 1, 1);    */
      background: -webkit-radial-gradient(center, ellipse cover, rgb(75, 75, 75) 0%, rgb(41, 41, 41) 100%); 
      
      overflow:auto;
}
#timeline_overlay #overlay_title{
      color:rgb(45, 194, 65);
      font-size: 25px;
      text-shadow: 1px 1px #ff0000;
      padding-left: 10px;
}
#timeline_overlay #overlay_body{
      position: relative;

      color:rgb(190, 184, 184);
      font-size: 15px;
      font-family: 'Gugi', cursive;
      padding: 10px;

       
}