.body {
    overflow: auto;
    padding: 25px;
    font-family: 'PT Sans', sans-serif;
}

/* Set panel styles.. */

.panel {
    background: transparent;
    color: gray;
    padding: 5px;
    background: -webkit-radial-gradient(center, ellipse cover, #f2f2f2 0%, #e6e6e6 100%);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.panel-body-title {
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: bold; 
    text-shadow: 1px 1px #ffffff;
    padding-left: 10px;
}

.panel-summary {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    color: rgb(40, 0, 77);
    padding-bottom: 10px;
}

.HistoryRowHeader {
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 14px;    
    padding-bottom: 10px;
    border-top: solid 1px rgb(214, 214, 214);
}

.HistoryRowWhenWhere {
    color: darkblue;
    vertical-align: text-top;
    width: 190px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    padding-bottom: 2em;
    padding-top: 6px;
    
}

.HistoryTDDesc {
    vertical-align: text-top;
    color: lightblue;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding-top: 6px;
}

.HistoryTDTech {
    vertical-align: text-top;
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 12px;
}

.HistoryDivDuty {
    vertical-align: text-top;
    color: #333333;
    padding-bottom: 2em;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
}

.HistorySpanTech {
    vertical-align: text-top;
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 12px;
}

/* Skills styles */

.SkillHead {
    color: rgb(31, 1, 59);
    padding-top: 15px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.SkillBody {
    color: rgb(97, 97, 97);
    font-size: 14px;
}