.body {

      /* Hide vertical scrollbar */
      overflow-y: hidden;

      /* Hide horizontal scrollbar */
      overflow-x: hidden;
      /* fixes scrollbars */
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      font-family: 'PT Sans', sans-serif;

}

/* div {
      cursor: default;
} */

.timeline_head {
      cursor: default;
      position: fixed;
      margin: 0;
      padding: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 50px;


      /* border: 1px solid lightgray; */

}

.timeline_head #timeline_menu {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      right: 30px;
      bottom: 30px;    

      font-size: 25px;
      background-color: rgb(231, 220, 220);  

}
.timeline_head #timeline_menu:hover {
      color: rgb(3, 3, 122);

      /* border: 1px solid blue;  */
      /* background-color: rgb(221, 6, 6); */
}


.timeline_head #timeline_info {
      position: absolute;
      margin: 0;
      padding: 0;

      padding-left: 5px;
      top: 0;
      right: 0;
      left: 30px;
      bottom: 30px !important;
      font-family: 'Abel', sans-serif;

      font-size: 25px;

      /* border: 1px solid lightgray;
      background-color: rgb(231, 220, 220); */
      /* border: 3px solid blue; */
      background-color: rgb(231, 220, 220);      
}







/*
Vis control...
*/

#timeline_viz {
      position: fixed;
      margin: 0;
      padding: 0;
      top: 30px;
      right: 0;
      left: 0;
      bottom: 0;

      border: 1px solid lightgray;
      background-color: rgb(231, 220, 220);
}



#timeline_viz_rel {
      position: relative;
      margin: 0;
      padding: 0;
      top: 30px;
      width: 100%;
      height: 100%;

      border: 1px solid lightgray;
      background-color: rgb(231, 220, 220);
}


/*
Loading element..
*/
#timeline_viz #timeline_loading {
      color: blue;
      font-size: 25px;
}

.vis-timeline {
      border: 2px solid purple;
      font-family: 'PT Sans', sans-serif;
      font-size: 12pt;
      background: #ffecea;
}

.vis-item {
      border-color: rgb(143, 143, 143);
      background-color: red;
      font-size: 15pt;
      color: purple;
      box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.5);

      /* cursor: default !important;  */
      cursor: help !important;

      border-radius: 10px !important;
      ;

}


/* 
Custom time line items... 
*/
.vis-item.basic {
      background-color: greenyellow;
      border-color: blue;
      /* border-width: 1px;  */
      font-family: 'Abel', sans-serif;
}

.vis-item.microsoft {
      /* background-color: rgb(225, 243, 203); */
      border-color: rgb(114, 47, 221);
      color: rgb(34, 4, 4);
      /* font-family: 'PT Sans', sans-serif; */
      font-family: 'Roboto', sans-serif;
      box-shadow: 0 0 10px gray;
      /* border-width: 1px;  */
      background: -webkit-radial-gradient(center, ellipse cover, rgb(212, 212, 212) 2%, rgb(230, 230, 230) 100%);

}



/*
generic styles...
*/
.vis-item.vis-line {
      border-width: 3px;
}

.vis-item.vis-dot {
      border-width: 10px;
      border-radius: 20px;
}

.vis-item.vis-selected {

      border-color: rgb(52, 24, 117);

      background: -webkit-radial-gradient(center, ellipse cover, #F5F5F5 0%, #E0E0E0 100%);
      /* background: -webkit-radial-gradient(center, ellipse cover, rgb(148, 35, 35) 0%, rgb(150, 25, 199) 100%); */

      cursor: context-menu !important;
}

.vis-time-axis .vis-text {
      color: purple;
      padding-top: 10px;
      padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
      font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
      border-radius: 20px;
      border-color: pink;
}

.vis-time-axis .vis-grid.vis-major {
      border-radius: 20px;
      border-color: #F991A3;
}